@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container">
    <h2>Bem-vindo ao Sistema de Controle de Cursos</h2>
    <p>Olá, aluno! Como posso ajudá-lo hoje?</p>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary">Criar Conta</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success">Ver Cursos</a>
        </div>
    </div>
</div>
